*.mat -crlf -diff -merge
*.p -crlf -diff -merge
*.slx -crlf -diff -merge
*.mdl -crlf -diff -merge
*.xlsx -crlf -diff -merge
*.docx -crlf -diff -merge
*.pdf -crlf -diff -merge
*.jpg -crlf -diff -merge
*.png -crlf -diff -merge
*.svg -crlf -diff -merge
*.stl -crlf -diff -merge
*.txt -crlf -diff -merge
*.dat -crlf -diff -merge